/* RESET STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  color: #1c2a3a;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* FONTS */
* {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
thead {
  font-family: Helvetica, sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.875rem;
  margin: 24px 0;
}

h2 {
  font-size: 1.5rem;
  margin: 16px 0;
}

h3 {
  font-size: 1.25rem;
  margin: 8px 0;
}

p {
  font-size: 1rem;
  margin: 8px 0;
}

/*** colors ***/


/*** REPORT BODY***/
section.report {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

main.report-container {
  background-color: #f2f0e8;
  overflow-y: auto;
  padding: 24px 64px;
  width: 100%;
}

/*** SIDEMENU FOR APPS ***/

nav.sidemenu {
  background-color: #322F23;
  color: #ededed;
  overflow-y: auto;
  padding: 16px;
  width: 260px;
}

nav.sidemenu>ul {
  margin-top: 16px;
  list-style: none;
  padding-inline-start: 8px;
}

nav.sidemenu>ul li {
  margin-bottom: 8px;
}

.link {
  color: #CD994E;
}

/*** REPORT QUERY PIECE ***/
.report-piece .query h3 {
  background-color: #322F23;
  padding: 0px 0px;
  margin-bottom: 0;
  color: #ededed;
}

.report-piece .query input[type=checkbox] {
  display: none;
}

.code-task {
  padding-top: 4px;
  padding-left: 10px;
  font-size: 15px;
}

.report-piece .query h3 label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.report-piece .query pre {
  margin: 0;
  padding: 16px 24px;
  ;
}

.report-piece .query .code-block {
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 2px;
  border-radius: 0 0 4px 4px;
  max-height: fit-content;
  padding: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
  position: relative;
  background-color: #f5f2f0;
  margin-top: 0;
}

.query {
  margin-bottom: 40px;
}

.results {
  margin-bottom: 56px;
}

.query>* {
  margin: 16px 0;
}

.report-piece .query input[type=checkbox]:checked~.code-block {
  max-height: 0;
  overflow-y: hidden;
  padding: 0 24px;
}

.report-piece .query h3 label span {
  padding-right: 10px;
  transition: all 0.35s ease-in-out;
  transform: rotate(0deg);
}

.report-piece .query input[type=checkbox]:checked~h3 label span {
  padding-left: 10px;
  transform: rotate(180deg);
}

/*** REPORT RESULTS  PIECE ***/
.report-piece .results table {
  width: 100%;
}

.report-piece .results table thead {
  font-weight: bold;
  font-size: 17px;
}

.report-piece .results table tbody td {
  padding: 4px;
  border-radius: 4px;
  border: 2px solid #f2f0e8;
}

.report-piece .results table tbody>tr td:nth-child(even) {
  font-weight: 600;
}

.report-piece .results table tbody>tr:nth-child(odd) {
  background-color: #b9d4e4;
}

.dataTables_info {
  display: none;
}

.dt-buttons {
  margin: 16px 0;
}

.dt-buttons button {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dt-buttons button:nth-child(1) {
  background-color: #5c8ba8;
}

.dt-buttons button:nth-child(2) {
  background-color: #217346;
}

.dt-buttons button:nth-child(3) {
  background-color: #f29766;
}

/*** RESULTS SVG ***/
.svg-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*** COLOR DIVIDERS ***/

.img-result {
  margin: 16px auto;
  background-color: white;
  border-radius: 4px;
}

.copy-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
  background-color: #5c8ba8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #69a2c5;
  outline: 1px solid #5c8ba8;
}

.code-snippet {
  display: none;
}

/* Style the tab */
.tab {
  background-color: #f1f1f1;
  width: 20%;
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #2f2f2f;
  color: #ededed;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 50%;
  transition: 0.3s;
  width: 50%;
  height: 32px;
  padding: 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(89, 85, 85);
}

/* Create an active/current tablink class */
.tab button.active {
  color: black;
  background-color: #f5f2f0;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-color: black;
  border-width: 2px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.active {
  display: block;
}

.disable {
  display: none;
}